<!DOCTYPE html>
<html>
  <head>
    <title>SafariTracklists</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'RightNav', media: 'all' %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
     <%= javascript_pack_tag 'application' %>
  </body>
</html>
